body{
    margin: 0;
    padding: 0;;
}
.container{
    width: 2000px;
    height: 1000px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-reg{
    height:800px;
    width: 600px;
    margin: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title{
    width: 90%;
    height: 50px;
    margin-left: 10%;
    font-size: 20px;
    font-weight: 700;
}
.form{
    width: 100%;
    height: 650px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.top{
    margin-top: 30px;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.text{
    width: 70%;
    height: 20px;
    margin-bottom: 50px;
    margin-right: 30px;
}
.password{
    width: 70%;
    height: 20px;
    margin-bottom: 50px;
}

.email{
    width: 70%;
    height: 20px;
    margin-bottom: 50px;
}
.name{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
 
}
label{
    margin-left: 5px;
}



